*
{
    margin: 0;
    padding: 0;
}

html
{
    font-family: "Gotham Bold";
    font-size: 20px;
    color: #FFF;
}

body
{
    margin: 0;
    padding: 0;
    background: -webkit-linear-gradient(left, #45046A 0%, #5C2A9E 100%);
    width: 100vw;
    height: 100vh;
}

div
{
    box-sizing: border-box;
}

h1
{
    font-weight: lighter;
}

strong
{
    color: #0084F6;
}

.master
{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

    .master-image
    {
        width: 50%;
        height: 68vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .master-image img
    {
        height: calc(100% - 1rem);
    }

    .master-message
    {
        width: 50%;
        height: 68vh;
        margin-left: 6rem;
        padding: 6rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
    }

    .master-message a
    {
        background: #B6086C;
        padding: 20px 80px;
        color: #FFF;
        text-decoration: none;
        border-radius: 8pt;
        justify-self: flex-end;
    }

.master-message a:hover
{
    background: #0084F6;
}

/* @media screen and (max-width: 2000px)
{
    .master-message
    {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 1580px)
{
    .master-image img
    {
        height: calc(100% - 3rem);
    }
    
    .master-message
    {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1480px)
{
    .master-image img
    {
        width: calc(96% - 1rem);
    }
    
    .master-message
    {
        font-size: 1.18rem;
    }
}

@media screen and (max-width: 1280px)
{
    .master-image img
    {
        width: calc(96% - 1rem);
    }
    
    .master-message
    {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 1000px)
{
    .master-message
    {
        font-size: 1.3rem;
    }
} */