*
{
    margin: 0;
    padding: 0;
}

body
{
    margin: 0;
    padding: 0;
    background: -webkit-linear-gradient(left, #45046A 0%, #5C2A9E 100%);
    width: 100%;
    height: 100%;
    font-family: "Gotham Bold";
    font-size: 20px;
    color: #FFF;
}

div
{
    box-sizing: border-box;
}

h1
{
    font-weight: lighter;
}

strong
{
    color: #0084F6;
}

.master
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .master-image
    {
        width: 50%;
        height: 53vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .master-image img
    {
        width: 620px;
        height: 460px;
    }

    .master-message
    {
        width: calc(50% - 80px);
        height: 53vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        text-align: justify;
    }

    .master-message a
    {
        background: #B6086C;
        padding: 20px 80px;
        color: #FFF;
        text-decoration: none;
        border-radius: 8pt;
        justify-self: flex-end;
    }

.master-message a:hover
{
    background: #0084F6;
}