*
{
    padding: 0;
    margin: 0;
}

html
{
    font-family: "Gotham Bold";
    font-size: 20px;
    font-weight: lighter;
    color: #FFF;
}

body
{
    background: -webkit-linear-gradient(left, #45046A 0%, #5C2A9E 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div
{
    box-sizing: border-box;
    /* border: 1px solid #FFF1; */
}

strong
{
    color: #0084F6;
}

.poster
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .poster-content
    {
        width: 84%;
        height: 66%;
        display: grid;
        grid-template-rows: 12% 72% 16%;
        grid-template-columns: 50% 50%;
        grid-template-areas:
        "Image Title"
        "Image Message"
        "Image Button";
        margin: auto;
    }

        .pimage
        {
            grid-area: Image;
        }
        
        .title
        {
            grid-area: Title;
        }

        .message
        {
            grid-area: Message;
        }

        .pbutton
        {
            grid-area: Button;
        }

    .poster-content-item
    {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 10%;
    }

    .poster-content-item#PImage
    {
        padding: 0 0;
    }

    .poster-content-item#PImage img
    {
        width: 100%;
    }

    .poster-content-item#PTitle
    {
        hyphens: auto;
        font-size: 1.3rem;
    }

    .poster-content-item#PMessage p
    {
        text-align: justify;
        hyphens: manual;
        font-weight: 0;
    }

    .poster-content-item#PButton a
    {
        background: #B6086C;
        padding: 1rem 4rem;
        color: #FFF;
        text-decoration: none;
        border-radius: 8pt;
    }

    .poster-content-item#PButton a:hover
    {
        background: #0084F6;
    }
/* 
@media screen and (max-width: 2000px)
{
    .poster-content
    {
        height: 58%;
        font-size: 1.3rem;
    }
    .poster-content-item#PTitle
    {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 1580px)
{
    .poster-content
    {
        font-size: 1.2rem;
    }
    .poster-content-item#PTitle
    {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1480px)
{
    .poster-content
    {
        height: 58%;
        font-size: 1.18rem;
    }
    .poster-content-item#PTitle
    {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 1280px)
{
    .poster-content
    {
        font-size: 1.1rem;
    }
    .poster-content-item#PTitle
    {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 1000px)
{
    .master-message
    {
        font-size: 1.3rem;
    }
} */