/* STYLES -------------------------------------------------------> */
*
{
    margin: 0;
    padding: 0;
}

body
{
    margin: 0;
    padding: 0;
    background: -webkit-linear-gradient(left, #45046A 0%, #5C2A9E 100%);
    width: 100%;
    height: 100%;
}

div
{
    box-sizing: border-box;
}

header
{
    width: 100%;
}

footer
{
    width: 100%;
}

.arhcoder
{
    width: 100%;
    height: 80px;
    background: #45046A;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
}

.arhcoder > a > img
{
    height: 30px;
}

.navegator
{
    width: 100%;
    height: 80px;
    background: -webkit-linear-gradient(left, #45046A 0%, #5C2A9E 100%);
    background: #5C2A9E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 0;
}

    .navegator-menu
    {
        width: 34%;
        height: 100%;
        margin-left: 6%;
        display: flex;
        justify-content: flex-start;
    }

        .navegator-menu-option
        {
            height: 100%;
            padding: 0 23px;
            display: flex;
            align-items: center;
        }

        .navegator-menu-option > a
        {
            font-family: "Gotham Book";
            font-weight: lighter;
            font-size: 23px;
            color: #FFF;
            text-decoration: none;
        }

        .navegator-special
        {
            width: 34%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-right: 6%;
        }

            .blog-button
            {
                font-family: "Gotham Medium";
                font-weight: bold;
                font-size: 23px;
                color: #FFF;
                text-decoration: none;
                padding: 10px 28px;
                border-radius: 8pt;
                border: 1px solid #FFF;
            }

.content
{
    width: 100%;
    height: 100%;
}

/* Esta era una sección al lado izquierdo de la pantalla que contenía iconos
de redes sociales. Se eliminó por mera cuestión estética.

.panel
{
    width: 11%;
    height: inherit;
    margin-left: 6%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.panel > ul
{
    width: 100%;
    height: auto;
    margin-top: 60px;
    margin-left: 23px;
}

.panel > ul > li
{
    list-style: none;
}

.panel > ul > li > a > img
{
    width: 36px;
    height: 36px;
} */

.page
{
    width: 68%;
    height: inherit;
    margin: auto;
}

.content-title
{
    width: 100%;
    height: 80px;
    background: #B6086C;
    font-family: "Gotham Bold";
    font-weight: normal;
    font-size: 25px;
    color: #FFF;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
    margin-top: 60px;
}

.projects
{
    width: 100%;
    color: #3F3844;
}

    .normal-projects
    {
        width: 100%;
        padding-top: 40px;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

        .project-box
        {
            width: 100%;
            height: 200px;
            background: #F8F8FF;
            border-radius: 8pt;
            display: flex;
            align-items: center;
        }

            .project-box-icon
            {
                width: 34%;
                height: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-right: 1px solid #3F3844;
            }

            .project-box-icon img
            {
                width: 100px;
                height: 100px;
            }

            .project-box-description
            {
                width: 66%;
                height: 80%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                text-align: center;
            }

            .project-box-description h3
            {
                font-family: "Gotham Medium";
                font-size: 26px;
                font-weight: normal;
            }

            .project-box-description p
            {
                font-family: "Gotham Book";
                font-size: 16px;
            }

            .project-box-description a
            {
                padding: 8px 0;
                width: 68%;
                height: auto;
                font-family: "Gotham Medium";
                font-size: 24px;
                color: #FFF;
                border-radius: 8pt;
                text-decoration: none;
            }

            #software-project-button
            {
                background: #BB30BB;
            }

            #music-project-button
            {
                background: #0084F6;
            }

            #design-project-button
            {
                background: #3CDC32;
            }

            #audiovisual-project-button
            {
                background: #DA0A16;
            }

    .special-projects
    {
        width: 100%;
        padding-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

        .special-project-box
        {
            width: 100%;
            height: 280px;
            margin-bottom: 40px;
            background: #F8F8FF;
            border-radius: 8pt;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .special-project-box-photo
            {
                width: 46%;
                height: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-right: 1px solid #3F3844;
            }

            .special-project-box-photo img
            {
                width: 300px;
                height: 200px;
            }

            .special-project-box-description
            {
                width: 54%;
                height: 80%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                text-align: center;
            }

            .special-project-box-description h3,
            .special-project-box-description p,
            .special-project-box-description a
            {
                width: 60%;
            }

            .special-project-box-description h3
            {
                font-family: "Gotham Medium";
                font-size: 28px;
                font-weight: normal;
            }

            .special-project-box-description p
            {
                font-family: "Gotham Book";
                font-size: 16px;
                width: 66%;
                text-align: center;
            }

            .special-project-box-description a
            {
                padding: 8px 0;
                font-family: "Gotham Medium";
                font-size: 24px;
                color: #FFF;
                border-radius: 8pt;
                text-decoration: none;
            }

            .special-project-description-replacement, .information-replacement
            {
                display: none;
            }

            #ensecode-project-button
            {
                background: #0858C3;
            }

.blog-banner
{
    width: 100%;
    height: 400px;
    margin-top: 20px;
    background: #B6086C;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Gotham Medium";
    color: #FFF;
    font-size: 26px;
}

    .blog-banner-image
    {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .blog-banner-image img
    {
        height: 300px;
    }

    .blog-banner-message
    {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .blog-banner-message p
    {
        width: 80%;
    }

    .blog-banner-message a
    {
        width: 68%;
        padding: 12px 0;
        background: #0084F6;
        color: #FFF;
        margin-top: 50px;
        border-radius: 8pt;
        text-decoration: none;
    }

.social-media
{
    width: 100%;
}

    .social-networks
    {
        width: 100%;
        padding-top: 40px;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

        .social-media-box
        {
            width: 100%;
            height: 160px;
            background: #F8F8FF;
            border-radius: 8pt;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .social-media-icon
            {
                width: 40%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .social-media-icon img
            {
                width: 100px;
                height: 100px;
            }

            .social-media-name
            {
                width: 60%;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-family: "Gotham Medium";
                font-size: 32px;
            }

            .social-media-name a
            {
                text-decoration: none;
                color: #3F3844;
            }

.contact
{
    width: 100%;
    margin-bottom: 60px;
}

    .contact-box
    {
        width: 100%;
        height: 160px;
        background: #F8F8FF;
        border-radius: 8pt;
        margin-top: 40px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

        .contact-box-icon
        {
            width: 20%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .contact-box-icon img
        {
            width: 100px;
            height: 100px;
        }

        .contact-box-name
        {
            width: 80%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-family: "Gotham Medium";
            font-size: 32px;
        }

        .contact-box-name a
        {
            text-decoration: none;
            color: #3F3844;
        }

footer, footer a
{
    font-family: "Gotham Book";
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
}

.subnavegator
{
    width: 100%;
    height: 80px;
    background: #5C2A9E;
}

    .subnavegator-content
    {
        width: 68%;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .information
        {
            width: 20%;
            height: 100%;
            margin-left: 23px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .subnavegator-panel
        {
            width: 60%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
        }

            .social-balls
            {
                display: flex;
                justify-content: center;
                align-items: center;
                list-style: none;
            }

            .social-balls li
            {
                margin: 0 2px;
            }

            .social-balls a img, .up a img
            {
                width: 38px;
                height: 38px;
            }

        .up
        {
            width: 20%;
            height: 100%;
            margin-right: 23px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

.footer
{
    width: 100%;
    height: 80px;
    background: #45046A;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HOVERS -------------------------------------------------------> */
.arhcoder:hover
{
    box-shadow: 0px 5px 18px 0px #00000098;
}

.navegator:hover
{
    box-shadow: 0px 8px 18px 0px #00000066;
}

.navegator-menu-option:hover
{
    background: #45046A;
}

.blog-button:hover
{
    background: #B6086C;
    border-color: #B6086C;
    padding: 12px 28px;
}

.project-box:hover, .special-project-box:hover,
.social-media-box:hover, .contact-box:hover
{
    background: #FFF;
    color: #5C2A9E;
    box-shadow: 0px 0px 16px 6px #00000066;
}

.project-box:hover > .project-box-icon
{
    border-right: 1px solid #5C2A9E;
}

.special-project-box:hover > .special-project-box-photo
{
    border-right: 1px solid #5C2A9E;
}

#software-project-button:hover
{
    background-color: #A01CA0 !important;
}

#music-project-button:hover, .blog-banner-button:hover
{
    background-color: #006AD8 !important;
}

#design-project-button:hover
{
    background-color: #28C41C !important;
}

#audiovisual-project-button:hover
{
    background-color: #BE0000 !important;
}

#ensecode-project-button:hover
{
    background-color: #0044A0 !important;
}

.social-media-box:hover > .social-media-name a,
.contact-box:hover > .contact-box-name a
{
    color: #5C2A9E !important;
} 

.subnavegator:hover
{
    box-shadow: 0px -8px 18px 0px #00000066;
}

.footer:hover
{
    box-shadow: 0px -8px 18px 0px #00000098;
}

/* MEDIA QUERIES ------------------------------------------------ >*/

/* Full 4K */
@media screen and (max-width: 2000px)
{
    .page
    {
        width: 50%;
    }
}

/* 4K */
@media screen and (max-width: 1800px)
{
    .page
    {
        width: 60%;
    }
}

/* Big Desktop */
@media screen and (max-width: 1600px)
{
    .page
    {
        width: 68%;
    }
}

/* Original */
@media screen and (max-width: 1300px)
{
    .page, .subnavegator-content
    {
        width: 76%;
    }
}

/* Desktop Normal*/
@media screen and (max-width: 1200px)
{
    .page, .subnavegator-content
    {
        width: 80%;
    }
}

/* Desktop Pequeño */
@media screen and (max-width: 1100px)
{
    .page, .subnavegator-content
    {
        width: 86%;
    }
}

/* Medio */
@media screen and (max-width: 900px)
{
    .page, .subnavegator-content
    {
        width: 96%;
    }
}

/* Tablet */
@media screen and (max-width: 800px)
{
    
   .page
   {
       width: 80%;
   }

   .content-title
   {
        font-size: 20px;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        padding: 0 0;
   }

    .normal-projects
    {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 100%;
        padding-top: 20px;
        gap: 20px;
    }

    .special-projects
    {
        padding: 20px 0;
    }

    .special-project-box
    {
        margin-bottom: 20px;
    }

    .special-project-box-photo img
    {
        width: 200px;
    }

    .special-project-box-description h3,
    .special-project-box-description p,
    .special-project-box-description a
    {
        width: 82%;
    }

    .special-project-box-description p
    {
        font-size: 14px;
    }

    .blog-banner
    {
        height: 360px;
        font-size: 20px;
        margin: 0 0 10px 0;
    }

    .blog-banner-image img
    {
        height: 220px;
    }

    .blog-banner-message a
    {
        margin-top: 20px;
    }

    .social-networks
    {
        gap: 20px;
    }

    .social-media-box
    {
        height: 120px;
    }

    .social-media-icon, .social-media-name,
    .contact-box-icon, .contact-box-name
    {
        width: auto;
    }

    .social-media-name, .contact-box-name
    {
        margin-left: 23px;
    }

    .social-media-icon img, .contact-box-icon img
    {
        width: 68px;
        height: 68px;
    }

    .social-media-name
    {
        font-size: 24px;
    }

    .contact
    {
        margin-bottom: 40px;
    }

    .contact-box
    {
        height: 120px;
        margin: 20px 0;
        justify-content: center;
    }

    .contact-box-name
    {
        font-size: 26px;
    }

    .subnavegator-content
    {
        width: 100%;
    }

    .information
    {
        width: 30%;
    }

    .social-balls
    {
        width: 40%;
    }

    .up
    {
        width: 30%;
    }
}

/* Normal Phone */
@media screen and (max-width: 680px)
{
    .page
    {
       width: 80%;
    }
    
    .navegator-menu
    {
        display: none;
    }

    .navegator
    {
        justify-content: center;
        height: 60px;
    }

    .navegator-special
    {
        width: 100%;
        justify-content: center;
        margin-right: 0;
    }

    .content-title
    {
        font-size: 16px;
        margin-top: 30px;
    }

    .project-box
    {
        height: 220px;
    }

    .project-box-icon img
    {
        width: 80px;
        height: 80px;
    }

    .project-box-description
    {
        font-size: 12px;
    }

    .special-project-box-photo img
    {
        width: 180px;
    }

    .blog-banner
    {
        height: 280px;
    }


    .social-media-name
    {
        margin-left: 10px;
    }

    .social-media-name a
    {
        font-size: 22px;
    }

    .contact-box
    {
        height: 100px;
        margin: 20px 0;
    }

    .contact-box-icon img
    {
        width: 60px;
    }

    .contact-box-name a
    {
        font-size: 22px;
    }

    .subnavegator
    {
        width: 100%;
    }

    .information-link
    {
        display: none;
    }

    .information-replacement
    {
        display: inline-block;
    }

    .information-replacement img
    {
        width: 38px;
        height: 38px;
    }
}


/* Sólo special project boxes y redes sociales */
@media screen and (max-width: 580px)
{
    .social-networks
    {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 100%;
        padding-top: 20px;
    }

    .special-project-box-photo, .special-project-box-description p
    {
        display: none;
    }

    .special-project-box-description
    {
        width: 100%;
    }

    .special-project-description-replacement
    {
        display: inline-block;
        width: 180px;
    }

    .special-project-box-description a
    {
        width: 60%;
        font-size: 22px;
    }

    .special-project-box-photo img
    {
        width: 140px;
    }

    .blog-banner
    {
        font-size: 18px;
    }

    .blog-banner-image img
    {
        height: 180px;
    }
}

/* Normal Phone */
@media screen and (max-width: 480px)
{
    .social-networks
    {
        grid-template-columns: 100%;
    }
}

/* Mini Phone */
@media screen and (max-width: 320px)
{

}